/* general rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
ul {
  list-style: none;
}
body {
  font-family: "kumbh sans", sans-serif;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

/*  css rules*/
:root {
  --main-transition: 0.3s;
  --maincolor: #0d6efd;
  --secondary-color: #d3ebfd;
}

/* start products */
.list-group-item {
  cursor: pointer;
}
.list-group-item.active {
  color: white !important;
}

input[type="search"] {
  background-color: var(--secondary-color);
  border: none;
}

@media (max-width: 991px) {
  .filters {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
}

@media (max-width: 767px) {
  .filters {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }
}
/* end products */
/* start loader */
.products-loader {
  background-color: #f1f5f8;
  z-index: 500;
}
/* end loader */
